body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  user-select: none;
}

#draggable {
  text-align: center;
  background: white;
}

#todo-cards, #in-progress-cards, #done-cards {
  width: 200px;
  height: 500px;
}

.blog-card.overdue {
  background-color: rgb(138, 46, 46);
}

.blog-card.deadline {
 background-color: rgb(175, 175, 32);
}

.blog-card.done {
  background-color: green !important;
}


.dropzone {
  width: 200px;
  height: 200px;
  background: blueviolet;
  margin: 10px;
  padding: 10px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.blog-card {
  border: #2196F3 1px solid;
  border-radius: 5px;
  padding: 8px 0;
  background: lightgrey;
  margin: 5px;
  box-shadow: 10px 5px 5px #8a8a8a;
}

.task-card:hover {
  cursor: grab;
}
